.actualidad{
	padding-top:30px;
	height:800px;
	width:100%;
	background-color:#DCDCDC;
}
.newsSlider{
	width:100%;
	min-height:250px;
	margin-bottom:50px; //Este margen es igual para todas las sub-secciones?
}
.readmore{
	display:block;
	position: relative;
	height:256px;    // Esto no se puede hacer porque luego cambiamos los contenidos y se malogra todo. Hay que usar Flex. 
	background-color:white; //Siempre es mejor usar el hex de frente.
	// @include container;   Esto no es necesario !!!!! El container se incluye en los elementos que son efectivamente containers!
	@include span(3 of 12 last);
	margin-left: 1%;
	&:first-child{
		margin-left:none;
	}
	&__img{
		width:100%;
		height:80px;
		background: url("../../dist/img/pattern_images.png") center center / auto repeat, url("../../dist/img/section-image.jpg") 0% 0% / cover no-repeat; 
		// overflow:hidden;  No es necesario
		border-bottom: 3px $primary-orange solid;
	}
	&__ico{
		position: absolute;
	    // margin-top: -45px;  	Esta no es la forma de trabajar con position absolute.
	    // margin-left: 10px;	
	    // 1) Necesitas que el padre sea RELATIVE.  (ya lo puse)
	    // 2) Luego, se trabaja con posiciones, no márgenes. (ver abajo -> )
	    top: 45px;
	    left: 10px;
	}
	&__contents{
		padding: 5px 5px 10px 5px;
	}
	&__title{
		color:gray;
		font-weight:bold;
		font-family:$main-font-fam;
		font-size:16px;
		margin-left:60px;
	}
	&__text{
		color:gray;
		font-family:$main-font-fam;
		font-size:14px;
		line-height: 1.3;
	}
	&__link{
		@extend .readmore-link-base; //From small/readmore-link-base.scss 
		padding: 10px 5px;
	}
}