.dashboard{
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	&__main{
		width: calc(100% - 300px);
		@include tablet{
	    	width: 100%;
	  	}
	  	@include mobil{
	    	width: 100%;
	  	}
	}
	&__aside{
		width: 300px;
		background-color: #848484;
		padding: 50px;
		@include tablet{
	    	width: 100%;
	  	}
	  	@include mobil{
	    	width: 100%;
	  	}
	}	
}

.tooltip{
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 10px;
	max-width: 178px;
	line-height: 1.2;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		right: 100%;
		width: 50px;
		height: 15px;
		left: -20px;
		top: 0;
		background-color: #000;
		transform: skewX(68deg);
		z-index: -1;
	}
}

.companies-list{
	margin: 0;
	padding: 0;

	&__item{
		margin-bottom: 15px;
		@include tablet{
	    	display: inline-block;
	  	}
	  	@include mobil{
	    	display: inline-block;
	  	}
	}
}
