.quehacer{
	margin-top:-65px;
	margin-bottom:65px;
	padding-top:100px;
	height:440px;
	width:100%;
	background-color:#DCDCDC;
}
.vertical-list{
	@include span(4 of 12 last);
	line-height:40px;

	ul li a{
		color:gray;
		text-decoration: none;
		margin-left:10px;
	}
	ul li{
		list-style:none;
	}
}
.fa-chevron-circle-right{
	color:$primary-blue;
	margin-right:10px;
}