.skills-list{
	padding: 30px 0;
	column-count: 5;
	@include tablet{
	    column-count: 3;
	}
  	@include mobil{
    	column-count: 2;
  	}
	&__item{
		margin: 0 0 15px;
		text-transform: uppercase;
	}
}
label{
	font-size: 15px;
	line-height: 15px;
	vertical-align: super;
}
input[type=checkbox] {
    padding-left:5px;
    padding-right:5px;
    -webkit-appearance:button;

    border: none;

    background-color:$dark-yellow;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}
input[type=checkbox]:focus{
    outline: none;
}

input[type=checkbox]:checked {
    background-color:$light-orange;
}
input[type=checkbox]:checked + label {
    color:$light-orange;
}


input[type=checkbox]:hover {
    box-shadow:0px 0px 1px $dark-orange;
}