.main-title{
	font-size:48px;
	font-family: $main-font-fam;
	color:white;
	position:relative;
	text-align:center;
	&--services{
		border-bottom: 2px white solid;
		max-width:50%;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		font-size:48px;
	}
	&__items{
		margin-left:auto;
		margin-right:auto;
		font-weight:bold;
		font-size:30px;
		font-family: $main-font-fam;
		color:white;
		position:relative;
		border-bottom: 5px orange solid;
		width:250px;
		text-align:center;
	}
	&__user{
		font-weight:bold;
		font-size:30px;
		font-family: $main-font-fam;
		color:gray;
		position:relative;
		width: 480px;
		text-align:center;
	}
}
.section-text{
	font-size:18px;
	font-family: $main-font-fam;
	color:white;
	text-align:center;
}
.main-text{
  @include vertical-align();
    max-width: 938px;
    margin-right: auto;
    margin-left: auto;
  &__services{
  	color:white;
  	text-align:center;
  	width:250px;
  	margin-left:auto;
	margin-right:auto;
  }
  &__user{
  	color:gray;
  	text-align:center;
  	width:480px;
  }
}

.section-top-title{
	text-align:center;
	color:gray;
	&--line{
		border-bottom:3px $primary-orange solid;
		width:300px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
	}
	&--xline{
		border-bottom:3px $primary-orange solid;
		width:786px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
	}
	&--mline{
		border-bottom:3px $primary-orange solid;
		width:312px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
		font-family: $roboto-condensed;
		font-weight:lighter;
	}
	&--black{
		color:black;
		font-size:62px;
		font-family: $roboto-condensed;
	}
}