.user{
	width:100%;
	margin-top:40px;
	background-color:white;
	position:relative;
	&:after{
		position: absolute;
	    left: 50%;
	    content: '';
	    width: 0;
	    height: 0;
	    border-top: solid 90px white;
	    border-left: solid 100px transparent;
	    border-right: solid 100px transparent;
	    transform:translateX(-50%) scaleX(15);
	}
	&:before{
		    position: absolute;
		    left: 50%;
		    content: '';
		    width: 0;
		    height: 0;
		    bottom: 100%;
		    display: block;
		    border-right: solid 100px transparent;
		    -webkit-transform: translateX(-50%) scaleX(15);
		    transform: translateX(-50%) scaleX(15);
		    border-bottom: solid 90px white;
		    border-left: solid 100px transparent;
	}
	&__items{
		@include container;
		@include span(6 of 12 last);
	}
}
.mad-image{
	display:block;
	margin-left:auto;
	margin-right:auto;
}