body{
  margin: 0;
  font-family: sans-serif;
}

.panels-container{
  flex-wrap: wrap;
  min-height: 100vh;
  display: flex;
}

.init-panel{
  width: 50%;
  //border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__company{
    @extend .init-panel;
    background-color: $dark-blue;
  }
  &__developer{
    @extend .init-panel;
    background-color: $light-orange;
  }
  @include mobil{
    width: 100%;
  }

}

