// Project colors
$primary-text: #fff;
$primary-text-hover: #525252;

$primary-blue:#0080c6;
$secondary-blue:#0159FA;

$primary-orange:#F7941E;
$primary-orange-hover: #f72d1e;

$green-button: #53AE21;
$green-button-hard: #36CC09;