// Project colors
$primary-text: #fff;
$primary-text-hover: #525252;

$primary-blue:#0080c6;
$secondary-blue:#0159FA;

$primary-orange:#F7941E;
$primary-orange-hover: #f72d1e;

$green-button: #53AE21;
$green-button-hard: #36CC09;

//Laborapp
$light-orange:#F5724A;
$dark-orange:#DF6842;
$light-yellow:#FFE287;
$dark-yellow:#FED209;
$dark-blue:#458BDC;
$basic-gray:#3E3E3E;
$light-blue:#5180B7;