<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<!-- PLEASE NOTICE THAT ALL ASSETS MUST BE CHANGED, THE ACTUAL ONES ARE JUST SILLY SCREENSHOTS TO HAVE SOMETHING. -->
<!DOCTYPE html><!-- We are using http://markup.su/highlighter/ with the dark pastels theme to highlight -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Laborapp</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for("static" ,filename="dist/css/app.css")}}"">
</head>
<body>
	<div class="dashboard">
		<div class="dashboard__main">
			<div class="profile">
				<div class="profile__header">
					<span class="user-avatar user-avatar--small"><img src="http://lorempixel.com/200/200/cats?123" alt=""></span>
					<div class="profile__header__text">
						<h1 class="title--alpha">{{user.name}} <br>{{user.email}}
							<div class="tooltip">
								<span>Elige tus habilidades para empresas y hacer <span>match</span>. </span>
							</div>
						</h1>
						<p>{{user.age}} años</p>
						<div class="tooltip">
							Hola! Elige tus habilidades para empresas y hacer <span>match</span>. 
						</div>
					</div>
				</div>
				<div class="profile__main">
					<h2 class="title--gamma">Elegir habilidades</h2>
					<ul class="skills-list">
						<form action="{{url_for("dashboard.main")}}" method="POST">
						{% for skill in skills_form.skills %}
						<li class="skills-list__item">
							
							{{skill}}
							{{skill.label}}
							
						</li>
						{% endfor %}
						
					</ul><!-- skills-list-->
					<input type="submit" value="actualizar"  class="cta cta--alpha cta--dib">
					</form>
				</div> <!-- profile main -->
			</div> <!-- dashboard--main -->
		</div>
		<div class="dashboard__aside">
			<h4 class="title--alpha">Empresas</h4>
			<ul class="companies-list">
				{% if companies %}
					{% for company in companies %}
					<li class="companies-list__item"><a href="mailto:{{company.email}}" class="cta cta--alpha">{{company.name}}</a></li>
					{% endfor %}

				{% else %}
					<h3>No hay empresas que requieran tus habilidades,
					por que no pracitcas un poco en <a style="color: #ffe287; cursor: pointer;" href="https://codecademy.com">Codecademy</a></h3>
				{% endif %}
				
			</ul>
		</div>
	</div>


	<!-- Scripts -->
	<script src="../dist/js/lib/jquery/jquery.min.js"></script>
	<script src="../dist/js/lib/slick/slick.js"></script>
	<script src="../dist/js/app.min.js"></script>
</body>
</html>