

	<!-- Top Navigation -->
	<header class="codrops-header">
		<h1>¡Hola! ¿Buscando un nuevo trabajo?<span>Puede que tengamos algo para tí...</span></h1>	
	</header>

	<!-- Form Section -->
	<section>
		<form id="theForm" class="simform" autocomplete="off" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
			{{ register_user_form.hidden_tag() }}
			<div class="simform-inner">
				<ol class="questions">
					<li>
						<span><label for="q1">¿Cuál es tu nombre?</label></span>
						<input id="q1" name="q1" type="text"/>
					</li>
					<li>
						<span><label for="q2">¿Qué edad tienes?</label></span>
						<input id="q2" name="q2" type="text"/>
					</li>
					<li>
						<span><label for="q3">¿Qué profesión tienes?</label></span>
						<input id="q3" name="q3" type="text"/>
					</li>
					<li>
						<span><label for="q4">¿Cuál es tu correo electrónico?</label></span>
						<input id="q4" name="q4" type="text"/>
					</li>
					<li>
						<span><label for="q5">Solo te falta elegir una contraseña...</label></span>
						<input id="q5" name="q5" type="password"/>
					</li>
					<li>
						<span><label for="q6">Y confirmar tu contraseña para estar seguros...</label></span>
						<input id="q6" name="q6" type="password"/>
					</li>
				</ol><!-- /questions -->
				<button class="submit" type="submit">Send answers</button>
				<div class="controls">
					<button class="next"></button>
					<div class="progress"></div>
					<span class="number">
						<span class="number-current"></span>
						<span class="number-total"></span>
					</span>
					<span class="error-message"></span>
				</div><!-- / controls -->
			</div><!-- /simform-inner -->
			<span class="final-message"></span>
		</form><!-- /simform -->			
	</section>

		