.breadcrumbs{
	color: $primary-blue;
	min-height: 50px;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	padding-top: 28px;
	margin-bottom: 50px;
	.fa-caret-right{

	}
	.separator{

	}
	.label{

	}
}

